@import "tailwindcss";

@theme {
  --font-fira-code:  'Fira Code Variable', monospace;
  --font-reddit-mono: 'Reddit Mono Variable', monospace;
}

#projects {
  --swiper-navigation-size: 18px;
  --swiper-navigation-color: black;
}


#projects .swiper-slide:hover {
  @apply bg-blue-400 text-black cursor-pointer
}