@import "tailwindcss";

@theme {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-poppins:'Poppins', sans-serif;
}
#projects {
  --swiper-navigation-size: 18px;
  --swiper-navigation-color: black;
}


#projects .swiper-slide:hover {
  @apply bg-blue-400 text-black cursor-pointer
}


body {
  margin: 0;
}

.overlay {
  position: sticky;
  height: 100vh;
  top: 0;
}

.text {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-inner {
  transform: translatex(50vw);
  font-size: 2.5rem;
}

.track {
  height: 300vh;
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(255deg,
      #facb0e,
      #f06ba8 30%,
      #78bae6 65%,
      #fff);
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.shape {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  mix-blend-mode: multiply;
  background: black;
}

.shape .img {
  width: 20rem;
  height: 20rem;
  /* transform: rotate(45deg); */
}

.img svg {
  width: 100%;
  height: 100%;
}

.img svg .hsc-img-path {
  fill: white;
}

.overlay {
  overflow: hidden;
}