@import "tailwindcss";

@theme {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  border: 2px solid black;

}

#home h1 {
  overflow: hidden;
}

#projects {
  --swiper-navigation-size: 18px;
  --swiper-navigation-color: black;
}

#projects .swiper-slide:hover {
  @apply cursor-pointer
}

.navbar-mobile span {
  width: 100%;
  height: 3px;
  background-color: black;
}

#projects .swiper-slide .project-content::after {
  content: '';
  pointer-events: none;
  @apply absolute top-5 left-5 w-full h-full bg-black -z-[1] block
}

#projects .swiper-slide .project-content::selection {
  background-color: black;
  color: white;
}

.about-text {
  position: relative;
  background-color: white;
}

.about-text::selection {
  background-color: black;
  color: white;
}

.about-text::before {
  content: '';
  pointer-events: none;
  @apply -z-[1] absolute block w-full h-full bg-black rounded-xl left-5 top-7
}