@use 'sass:list';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

$bg: (228, 228, 228);

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(list.nth($bg, 1), list.nth($bg, 2), list.nth($bg, 3), 0.4); // Extracted values for rgba
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    position: fixed;
    top: 0;
    left: 0;
    gap: 1.75rem;
    z-index: 2;
    backdrop-filter: blur(8px);

    a {
        color: rgb(140, 140, 140);
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;
        transition: 0.7s;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background-color: black;
            position: absolute;
            bottom: 0;
            transition: 0.5s;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &:hover {
            color: black;
        }
    }
}

.main-section {
    width: 100%;

    .hero {
        &__header {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            h1 {
                font-size: 48px;
            }

            h2 {
                font-size: 24px;
            }
        }

        .profile {
            padding: 0.75rem;
            position: relative;
            overflow: hidden;

            h3 {
                font-size: 32px;
            }

            p {
                font-size: 18px;
            }

            .swiper-slide {
                height: 100%;
                padding: 1.75rem;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                overflow: hidden;
            }
        }

        &-slider {
            @media screen and (max-width:768px) {
                width: 90%;
            }

            width: 50%;
            overflow: hidden;
            height: 75%;
            display: flex;
            align-items: center;
            position: relative;

            .swiper-slide {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        @media screen and (max-width:768px) {
            flex-direction: column;
        }
    }

    .hero,
    .contact-information,
    .projects {
        display: flex;
        background-color: rgb(list.nth($bg, 1), list.nth($bg, 2), list.nth($bg, 3)); // Solid background using rgb
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
        height: 100vh;

        @media screen and (max-width: 768px) {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }
    }

    .masked-image {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}